<%- include("header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><strong><%= Campaground.name %></strong></p>
			<div class="list" style="padding: 0">
				<div id="we">
					<p style="font-size:140%">Location : </p>
					<p style="font-size : 100%"><%= Campaground.loc %></p> 
				</div>
				<hr style="margin:0">
				<div id="we">
					<% var results = (Campaground.ac).split(",") %>
					<p style="font-size:140%">Activities : </p>
					<ul>
						<% for(var i=0;i<2;i++){ %>
        					<li><%= results[i]%></li>
    					<%  }; %>
					</ul>
				</div>
				<hr style="margin:0">
				<div id="we">
					<p style="font-size:140%">Booking-Window : </p>
					<p style="font-size : 100%"><%= Campaground.bw %></p> 
				</div>
				<hr style="margin:0">
				<div id="we">
					<% var result = (Campaground.am).split(",") %>
					<p style="font-size:140%">Amenities : </p>
					 <ul>
						<% for(var i=0;i<2;i++){ %>
        					<li><%= result[i]%></li>
    					<%  }; %>
					</ul>
				</div>
			</div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= Campaground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= Campaground.price %>/night</h4>
                    <h4><a><%=Campaground.name%></a></h4>
                    <p style="font-family: 'Comic Neue', cursive;"><%= Campaground.description %></p>
					 <p>
                        <em>Submitted By <%= Campaground.author.username %></em>
                    </p>
					<% if(currentUser && Campaground.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-warning" href='/campagrounds/<%= Campaground._id %>/edit'>EDIT</a>
						<form style="display : inline" action='/campagrounds/<%= Campaground._id %>?_method=DELETE' 							method="POST">
							<button class="btn btn-danger">DELETE</button>
						</form>
					<% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campagrounds/<%= Campaground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% Campaground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/campagrounds/<%=Campaground._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form style=" display: inline" action="/campagrounds/<%=Campaground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>

<%- include("footer") %>